/* ----------------------------------------------Login css  STSRT------------------------------------------- */

#text{
    height: 25px;
    border-radius:5px;
    padding: 4px;
    border: solid thin #aaa;
    width:100%;
}

#button{
    padding: 10px;
    width: 100px;
    color: white;
background-color: aqua;
border: none;

}

#box{
    background-color: rgb(137, 141, 138);
    margin: auto;
    width: 300px;
    padding: 20px;
}


/* --------------------------------------------Login css END ------------------------------------------------------------------ */



